/* boton.css */

.boton {
  /* Aquí van tus estilos personalizados para el botón */
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0056b3;
}